[2010-12-21 23:06] gak opened #1 "Clickable buttons for play/record/spawn"

[2010-12-21 23:06] gak opened #2 "Skybox"

[2010-12-21 23:14] gak opened #3 "Music"
Stream from soma.fm?

[2010-12-21 23:22] gak opened #4 "Detect number of processors"

[2011-01-13 00:09] dsturnbull commented on #3
k done

[2011-02-28 18:36] gak commented on #3
Awesome

[2011-02-28 18:36] #3 closed, assigned to nobody

[2011-02-28 18:37] gak opened #6 "Allow user created lua spawn scripts by increasing the search path"
Probably include $HOME/.gravit/spawn/ in the search.

[2011-04-23 00:20] gak opened #8 "Investigate FrMo's changes"
https://github.com/gak/gravit/pull/7

Make sure it all still compiles in Linux and OS X.

[2011-04-23 12:02] FrMo commented on #8
Please check if you can compile the OpenMP stuff, too:
- If gcc -fopenmp complains about a mising "omp.h" file, you probably need to install libgomp.
- Not sure if the OS X (xcode) compiler supports OpenMP out of the box.

[2011-04-29 21:47] FrMo commented on #4
would be very easy using OpenMP:

or,depending on what you want to know:

[2011-04-30 13:36] FrMo opened #11 "International keyboard support for the console key"
In gravit 0.5.1, The console line (^ ) for issuing commands manually
does not work with international keyboards anymore.

For example on a German keyboard,
when pressing "z", it displays "y".
Other keys like "?", ">" or "_" also give wrong characters.

(possibly caused by removing the event.key.keysym.unicode support from input.c)

[2011-05-09 13:20] FrMo opened #12 "fix physics"
Hi Gerald,
here is my explaination why i think that the physics in gravit has some flaws currently.

Cheers,
   Frank.
## min. Code Changes

Basicially, the bug can be corrected by changing this line in frame-pp.c:

While experimenting, i found that the following formula gives realistic simulations, too:

The effect is, that galaxy disks become a lot more stable. Not sure why...
## Why wait ??

Be

[2011-05-16 07:40] gak commented on #12
Hey mate. I'm pretty busy right now, so I don't have time to check this out. I'll leave the ticket open for now.

The plan is to verify the info, implement it and create new spawn calculations.

[2011-05-16 07:42] gak commented on #11
I was hoping that change wouldn't stuff up other keyboards. I removed it originally because it was causing problems in OS X.

[2011-06-07 08:59] FrMo commented on #12
Hi,

i have found some physics papers describing our subject.
Even if you skip the math, the code examples are relatively easy to read.

BTW, I am still surprised that my "a = G \* m2 / distance" (instead of "a = G \* m2 / (distance^2)" ) gives very stable, realisticly-looking simulations, too (similar to MOND, dark matter, or other effects that happen in reality ???). It is also faster, because w

[2011-07-12 09:14] peti opened #15 "Support machines with 2+ GB memory"
Gravit crashes when `memoryavailable` is set to values larger than 2047 MB.

[2011-07-12 09:15] peti opened #16 "Support for LUA 5.1.x"
Gravit doesn't build with the latest version of LUA, apparently because of changes in the API.

[2011-07-16 16:35] FrMo commented on #16
hi peti,
did you compile the latest version (0.5.1)? "it works for me" (tm), at least on windows.

I think there were two changes:
- Makefile : older releases needed **-llua -lualib** for linking, while some newer distributions have everything stuffed into one library **-llua5.1**.
  -> try to replace -llua -llualib with -llua5.1
- lua.c: change the following lines in **int luaInit() {** :

  luao

[2011-07-16 16:37] FrMo commented on #15
hmm  interesting
crashes for me, too   .... i will try to debug the situation next week.

[2011-07-17 13:58] peti commented on #16
Hi FrMo,

I looked for a 0.5.1 release, but I couldn't find a tarball anywhere. Does that version number refer to the git head?

Liebe Grüße :-)
Peter

[2011-08-24 05:19] gak opened #17 "Correctly install screensaver for Windows"

[2011-08-24 05:20] gak opened #18 "Update/redesign website"
Not directly related to the project source code itself, it would be good to have a better layout of the Gravit website.

[2011-08-24 15:24] FrMo commented on #16
Hi Peter,

sorry, i was actually talking about the git development head.
I have just commited some changes that should improve autoconf support for lua, and also fix the >2GB crash.
Gerald will probably merge in my latest changes in a few days; you can download a tarball here: https://github.com/FrMo/gravit/tarball/master

Thanks for reporting these problems!

Danke und viele Grüsse,
     Frank.

[2011-08-25 10:02] peti commented on #16
Hi Frank,

you are right, the new version compiles fine with LUA 5.1. Thank you
very much for your efforts!

Take care,
Peter

[2011-10-03 21:55] gak opened #20 "Custom filenames with autoscreenshot"
Suggested by Emanuel Larsson:

First I would likte to be able to save the simulation and a snapshoot image of it with. This can allready be done but you have to name the file. I would like it to be named automatically if left out (alternatively a different command) with something like a date/time stamp name (eg: "yy-mm-dd_hh-mm.bmp"). Then this command could be excecuted from the timer function ev

[2011-10-03 22:00] gak opened #21 "autozoom tweaks to ignore stray particles"
From Emanuel Larsson:

Second, theese simulations are really nice but sometimes you end up with a lot of "empty space" on screen since zoom level might be to high or low or that galaxies moved out of the vieving area partly or inteirly. I am aware of the autozoom command but sometimes there some few particles very far out from the core and then the interesting core i missed. So if possible I think

[2011-11-17 06:10] gak opened #23 "Create 3D YouTube videos from a simulation"

[2011-11-24 16:30] FrMo opened #27 "change copyright notice"
Hi Gerald,

I have just noticed that gravit still has this message "Copyright 2003-2010 Gerald Kaszuba" in the bottom right corner.
For me, copyright sounds a little like "Try now, buy later". Actually, i would prefer that all my changes are under a public license, like GPL or whatever.

Would it be OK for you if we change the copyright message to be something more opensource-like, for example
"Cr

[2011-11-24 20:39] FrMo commented on #23
Hi Gerald,

you may use the videos i hve just uploaded into my gravit repo: http://github.com/FrMo/gravit/wiki/How-to-create-movies
I have created these videos some time ago, after trying to fix the physics problem...

[2011-11-24 21:15] gak commented on #27
Frank,

I agree the copyright message should be changed to also cover yourself and other contributors.

Adding that extra text will probably make that copyright message appear to big. I'll have a think of what to do with it. I'm considering removing the copyright message and having a credits screen.

Gerald

[2011-11-24 21:36] gak commented on #23
Nice!

[2011-11-24 21:44] FrMo commented on #27
sounds good, thanks :-)

[2011-12-16 22:57] gak commented on #27
I'll set it to "Copyright 2003-2011 Gravit Development Team", based on what I've seen other people do (as IANAL)

Will have a page on the website, and a section within gravit for the list authors.

[2011-12-18 07:22] #27 closed, assigned to gak

[2011-12-18 07:30] #15 closed, assigned to nobody

[2011-12-27 07:51] gak opened #30 "Anonymous usage reporting"
To help improve Gravit, it would be good to know how many Gravit's there are out there, and how it is used.

[2011-12-27 15:07] FrMo commented on #30
I can see your point, but we should be careful about people's privacy.

Actually there are a lot of people out there who do not like any software to "phone home" without explicit permission. Opening an internet connection without asking the user could raise strange alert messages from personal firewalls, and invite people to fantasize about being tracked behind their backs...

I can imagine two po

[2011-12-27 18:29] FrMo commented on #30
another idea: use a simple survey page, asking questings like
- gravit version
- OS
- main usage (screensaver, write own spawn scripts, etc...)
- what would you like to see improved in the next release?

This should also give us a better idea how gravit could be improved.

[2011-12-27 20:34] gak commented on #30
I should have written this in the issue, but my intention was to ask the user if they want anonymous usage reporting on their first run. I would describe to the user that it will help shape Gravit. Basically similar to how Google, Microsoft, etc ask their users.

[2011-12-27 20:36] gak opened #31 "Welcome dialog box"
Display a dialog box when entering Gravit, with the option of turning it off.

It could:
- display basic instructions (potentially updating from the website)
- show latest news
- ask the user about anonymous reporting (#30)

[2011-12-28 13:51] FrMo commented on #30
yep, that sounds better for me.

[2012-01-02 07:13] gak opened #32 "maxverticies higher default and auto detection(?)"
maxvertices is quite low for todays standards, so it would be good to have a higher default and potentially (somehow) detect what is a good number for the hardware.

Potentially:
1) detect a drop in the redering framerate to automatically lower the maxverticies
2) By default, don't lower the tailskip variable, but decrease the tail length accordingly (since it will be a more seamless experience to

[2012-01-02 07:29] gak opened #33 "Fix gimbal lock with 3d rotation"

[2012-01-02 07:29] gak opened #34 "Screenshot to jpg"

[2012-01-02 07:29] gak opened #35 "Tutorial Demonstration"

[2012-01-02 07:30] gak opened #36 "Network Distributed"
Set up a framework so that a "dumb" client can process part of a frame and send the differences back to the server.

[2012-01-02 08:39] #18 closed, assigned to gak

[2012-01-02 10:44] FrMo commented on #34
Could be done sinilar to my PNG screenshot "backend".

Please keep in mind that the JPG format is not very good in handling "line art" images like the ones that gravit creates; the results could become a bit blurred, loose color contrast or show block artifacts.

[2012-01-02 17:57] FrMo commented on #18
wow, awesome.
looks very good.

[2012-01-02 20:18] gak commented on #34
Yeah I understand JPEG is lossy. I just had this on the old website so I just moved them all into here. PNG is definitely a better option for screenshots.

[2012-01-03 13:47] FrMo commented on #16
I think we can close this issue. gravit 0.6. can be build using LUA 5.0 or 5.1, and the configure script should be able to detect include paths and library names properly.

[2012-01-03 14:05] FrMo commented on #32
1) could be done with some timing code in or around drawAll(); possibly excluding drawOSD() and conDraw() from the measurement.
   We need a rule of thumb to decide on using less vertices, for example: if drawing time is more than a certain threshold ( 40ms = 25FPS), decrease maxvertices by 20%.
  Maybe gravit should wait until several frames have hit this threshold, to avoid "false alarms" caused

[2012-01-03 18:01] peti commented on #16
Right, the issue is fixed, so I'll close this item. Thank you for your help!

[2012-01-03 18:01] #16 closed, assigned to nobody

[2012-01-03 18:02] peti opened #37 "Please release a new version"
Could you please make a new release tarball available so that distributions can update to the latest version of Gravit?

[2012-01-03 18:23] FrMo opened #38 "Windows: do not write into program directory"
For security reasons, a windows program should not create files into the installation path (C:\program files\gravit\save etc.)
similar to linux and MacOS, gravit should use some kind of "home" directory for saving simulations, screenshots, and the stdout.txt / stderr.txt files.

A location in the users profile path should be used, for example C:\Users<Username>\Documents\gravit.

Issues:
- The "do

[2012-01-04 02:13] gak commented on #38
Good idea.

With stdout.txt, I believe they're automatically made by SDL in replace of a console.

Looks like you can disable the generation all together if it's not needed: http://sdl.beuc.net/sdl.wiki/FAQ_Console

Another option might be to modify the working directory to the Gravit "Documents" path before initialising SDL so the txt's are written there instead.

[2012-01-04 02:14] gak commented on #37
peti,

Currently working on a new release and I'm hoping I can get it out within a few weeks.

[2012-01-05 08:43] FrMo opened #39 "Background panorama"
how about adding a feature to display some kind of "background image"?
I am thinking of some stars and faint galaxies backgrounds, like the famous "hubble ultra deep field".

It might be possible to put a large sphere around the center of view, with an image as texture;
this way the background would automaticially move when rotating the view.

[2012-01-05 20:58] gak commented on #39
I've made an issue for this already albeit a not very descriptive one. I'll amend your comment to it so it is more descriptive.

Duplicate of #2

[2012-01-05 20:58] #39 closed, assigned to nobody

[2012-01-05 21:00] gak commented on #2
From #39 @FrMo

I was also considering using nebulas, galaxies, etc from ESO. ESO has a wide variety of images that are available to use freely as long as credit is given: http://www.eso.org/public/outreach/copyright.html

[2012-01-07 00:15] gak opened #40 "Detect memory available and use a percentage of it"

[2012-01-07 00:18] #40 closed, assigned to nobody

[2012-01-08 03:02] gak opened #41 "GUI Widgets"
To make Gravit more user friendly, we'll need some clickable objects. I've done some research and Agar seems to be the best C, OpenGL GUI widget library.

This relates to #1, #31, #35 and also allows customisation via windows rather than the console or gravit.cfg.

[2012-01-08 05:51] gak commented on #1
Created in c49e075 as part of #41.

[2012-01-08 05:51] #1 closed, assigned to gak

[2012-01-08 06:57] gak commented on #31
Only showing an introduction for now.

[2012-01-08 06:57] #31 closed, assigned to gak

[2012-01-08 06:59] gak commented on #41
Leaving it in the features/41-agar-gui branch for now (26dd153)

[2012-01-08 07:24] gak commented on #17
The installer scripts is in the old SVN repo somewhere. I'm going to dig it up soon.

@FrMo: Are you interested in handling the Windows builds buy any chance? I can get you the original installer files as soon as you let me know :)

[2012-01-08 07:32] #8 closed, assigned to gak

[2012-01-08 09:44] gak opened #42 "Adjust Keyboard Shortcuts"
Function keys in OS X are assigned to non standard function keys by default (e.g. volume, skip track, etc). Need to work out some alternative keys that will work well in OS X, Windows and Linux distributions.

I'm open to suggestions, as I can't work out any standard keyboard shortcuts for equivalent functionality.

SPACE - Play/Pause toggle
CMD-R, CTRL-R - Record
Delete/Backspace - Spawn
LEFT/RIG

[2012-01-08 18:01] FrMo commented on #17
@gak: sure, i could the windows build, and check for compile problems from time to time.

About the installer: I am completely unexperienced with writing windows installers, but simply give me the files, and I will see if I can do it.

[2012-01-08 22:16] gak commented on #17
@FrMo I've added the commit in 3fdabba

Please bear in mind it is an old installer, so it might not work first go, especially with those hardcoded absolute paths :)

The "Run" section has checkboxes for the last screen of the installer. I'm thinking we get rid of the option of editing gravit.cfg since the settings are more automatic now.

Also, I've been using "git flow" which helps organising cer

[2012-01-08 22:38] gak opened #43 "memorypercentage should be an int"
https://github.com/gak/gravit/commit/524f0ec766d39be35d28a13fd1a51e5acf67ca08#commitcomment-847790

[2012-01-08 22:47] gak opened #44 "Automate version bumping"
Create a script that changes the version number in the myriad of places within the source code. Some off the top of my head:
- gravit.h
- configure.in
- Xcode project
- README

[2012-01-08 22:56] gak opened #45 "Document the new branch system in the wiki"
Using git flow now, so the "develop" is the bleeding edge, buggy branch. "master" is the stable production ready branch.

[2012-01-08 22:56] gak commented on #17
#45 for updating the Wiki with the new branches.

[2012-01-09 21:30] FrMo commented on #4
When compiled with OpenMP multi-threading, gravit detects the number of threads automaticially.
--> we have a working solution now.

Doing the same for the older pthreads-based multithreading code is more complicated, and different on every OS.
--> too much extra effort.

[2012-01-09 21:30] #4 closed, assigned to nobody

[2012-01-24 21:59] FrMo commented on #11
I have an idea how to fix this ... will try during this week.

[2012-01-25 16:25] FrMo opened #47 "frame-ot performance improvements"
frame-ot.c (oct-tree "barnes-hutt" particle interaction calculations) is currently disabled, because the direct particle-particle implementation (frame-pp.c) is faster in many cases.

The implementation could be optimized in several places:
- while building the tree, otBranchNodeCorner calls otGetParticleInBox for each new node. otGetParticleInBox scans all particles to find the ones that are insi

[2012-01-29 19:30] FrMo commented on #11
@gak: hotfix/11-console-input should fix the console input problem; cold you cross-check on MacOS and linux ?

https://github.com/gak/gravit/tree/hotfix/11-console-input

[2012-02-12 14:40] FrMo commented on #2
I just did an 'intermediate merge' of the feature branch into develop,
to have the setupCamera() function for my next feature (red-cyan anaglyph stereo).

[2012-04-02 19:53] FrMo opened #48 "make new agar GUI optional"
Agar is not available for everyone; as the new GUI is still an add-on to the old functionality, we should make the agar code optional.  (i.e. for ubuntu linux there is no pre-build agar, and compiling it yourself is problematic; 64bit - doubly so ;-) )

Changes needed:
- all agar code should depend on `#ifndef WITHOUT_AGAR`
    (so agar is still the default, but can be disabled)
- configure.in and

[2012-04-02 20:09] FrMo opened #49 "use spawn name as default simulation name"
(just as a reminder to myself :-))

The "simulation name" (state.fileName) is normally empty. It would be easy to fill it with the script name when spawning (i.e. "negative-collision").
- add a new LUA command simName(string), that copies its argument into state.fileName
  (but need to make sure the name does not contain blanks and other forbidden chars)
- add a line to default.gravitspawn:
  simN

[2012-04-02 22:01] gak commented on #48
Good idea :)

[2012-04-04 12:34] FrMo commented on #17
I am still wondering how to avoid spilling DLLs into windows\system32 (SDL, SDL_image, SDL_ttf, PNG, freetype, LUA, libgomp, pthread ..)

The normal search order for DLLs is described here:
http://msdn.microsoft.com/en-us/library/7d83bc18.aspx
http://msdn.microsoft.com/en-us/library/windows/desktop/ms682586%28v=vs.85%29.aspx
http://lua-users.org/wiki/LoadLibrary

Some possible solutions:
- static

[2012-04-04 12:51] FrMo commented on #17
see also: issue #38 (SDL creates stdout.txt and stder.txt in the program directory)

[2012-04-04 20:28] gak commented on #17
What about loading DLL's at runtime with the LoadLibrary function? http://msdn.microsoft.com/en-us/library/windows/desktop/ms684175(v=vs.85).aspx

You can specify a full path to the DLL using the registry to search for the Gravit install path.

[2012-04-22 14:01] #48 closed, assigned to FrMo

[2012-04-22 14:01] #43 closed, assigned to gak

[2012-04-22 14:07] FrMo commented on #17
The new windows installer works for me, both in 32bit and 64bit (XP/Vista/Win7).

@gak : I think we should state a "feature-freeze" now, and quickly go for a release of what we have (in the current develop branch). Could you check the develop branch on OSX ?

[2012-04-22 14:09] FrMo commented on #11
fix tested by me on Windows and intel Linux (ubuntu).
@gak: please check OSX.

[2012-04-22 20:12] gak commented on #17
@FrMo Good idea. I'll make sure OS X is building and works. Give me a week though.

[2012-04-22 20:14] gak commented on #11
@FrMo Will do.

[2012-04-22 21:20] FrMo commented on #17
@gak take your time :-) .
Maybe you could also check the new windows installers; I have uploaded them to my github downloads area: https://github.com/FrMo/gravit/downloads

[2012-04-24 18:05] FrMo opened #50 "handle resize and maximize events"
In non-fullscreen mode, the gravit window is resizeable, but resizing current has no effect on the window content (at least on windows). We need to find out how to catch resize and other window-related events, and implement a handler.

[2012-04-27 09:14] gak opened #51 "OS X build 0.5.0"

[2012-04-27 09:18] gak opened #52 "Windows builds 0.5.0"

[2012-04-27 09:19] gak opened #53 "Update website for 0.5.0 release"
**TODO**
- Include MinGW_build_kit.zip (FrMo/gravit downloads) on the website, linking from http://gravit.slowchop.com/BuildingFromSource/
- Even though there is a link rel for the shortcut icon, many browsers and crawlers specifically want favicon.ico in the root

**DONE**
- Make sure every reference to Gravit mentions 0.5.0 rather than 0.4.3
- Update git clone links to use https instead of git
-

[2012-04-27 09:22] gak opened #54 "Source release 0.5.0"

[2012-04-27 09:23] gak commented on #37
Builds for each binaries and tarball: #51 #52 #54

@peti Soon :)

[2012-04-27 11:55] FrMo opened #55 "Spread the news about 0.5.0"
- update change log (FrMo, gak)
- announce on google groups, freshmeat, and other places (gak ?)

[2012-04-27 21:54] gak commented on #55
- Update the [Google+](https://plus.google.com/107724824744084522216/posts) page (which should update the [Gravit website](http://gravit.slowchop.com/))
- Post to the [Slowchop Studios blog](http://slowchop.com)
- Post to reddit to possibly get some attention
- Update the [Wikipedia page](http://en.wikipedia.org/wiki/Gravit)

[2012-04-27 21:55] gak commented on #51
Don't forget to submit to the Mac App Store

[2012-04-27 22:01] gak opened #56 "Google+ button is not wrapping within its column"
If Google 404's the direct link, here is the page where it's shared: https://docs.google.com/file/d/0B8QqwhDom_yST2ZNeDFPSENUdm8/edit

[2012-04-27 22:09] gak opened #57 "Update the logo"
- The icon in the app
- On Google+

@Frmo any other ideas?

https://github.com/gak/gravit/raw/f13dfc1521c3b15a8cb940e94603f57a80c7bad9/data/gravit.png

![logo](https://github.com/gak/gravit/raw/f13dfc1521c3b15a8cb940e94603f57a80c7bad9/data/gravit.png)

[2012-04-28 00:08] gak commented on #2
I added a skyboxrandom command in the last minute in 016879534921bcd905578fa8a6df5a88326ba476

[2012-04-28 00:08] #2 closed, assigned to gak

[2012-04-28 00:22] gak commented on #41
More work to do on this, but I'll leave it for new issues to be made.

[2012-04-28 00:22] #41 closed, assigned to gak

[2012-04-28 00:55] gak commented on #52
@FrMo I've made a "feature locked" branch: releases/0.5.0. Only bugs for this release should go in here, including the last minute logo change, #57. (Sorry about that, I completely forgot about it.)

We can otherwise continue creating new features in the develop branch.

[2012-04-28 01:23] gak opened #58 "Caret key doesn't work in console"
The ^ key turns into a 6 in the console.

[2012-04-28 01:26] gak commented on #11
In OS X on my keyboard, the caret key ^ is on my keyboard as shift-6. It turns into a 6.

It's not a big problem as it's an unusual character to use in the console. The only reason I can think of using it is if you want a filename with it in it. I've created #58 for 0.5.1.

When I get around to testing the Linux build, and it's the same problem, I'll close off this issue so we can release.

[2012-04-28 22:10] gak opened #59 "glError src/font.c:157 1280 invalid enumerant"
This is happening under VirtualBox on Ubuntu Pangolin, but the fonts render just fine.

It could possibly be an OpenGL error before the font code, possibly some of the new OpenGL code doesn't have glCheck()'s after them.

It also repeats on every frame so that is slightly annoying.

[2012-04-28 22:11] gak commented on #11
All good in Linux sans my previous bug.

[2012-04-28 22:11] #11 closed, assigned to FrMo

[2012-04-28 23:09] gak commented on #52
@FrMo The installer changes are great. Good work! It works fine under a VM, I'll try it soon on an actual computer with Windows 7 on it. Screensaver is all good too. It also actually runs reasonable virtualised too.

I've updated the two images for the installer at 2091504 with the new logo.

[2012-04-28 23:32] gak opened #60 "configure is broken in the install step"
Makefile.am refers to a path to install, but the script fails as "install" doesn't seem to allow installing directories.

The path involved is "gravit/data/skybox" which is referred to in Makefile.am.

[2012-04-28 23:37] gak opened #61 "Search for config files in "cfg""
After building with Makefile.linux (might apply to other build methods), the cfg directory is not looked at when the binary is executed from the root of the project. A fix for it is to copy gravit.cfg down a directory into the root.

Gravit itself should search for gravit.cfg in cfg/

[2012-04-29 00:23] gak commented on #57
I think all the logos have been updated in the source. Closing this one off.

[2012-04-29 00:23] #57 closed, assigned to gak

[2012-04-29 00:24] gak commented on #17
Works perfectly on the 64bit version. :)

[2012-04-29 00:24] #17 closed, assigned to FrMo

[2012-04-29 00:26] gak opened #62 "Make sure ChangeLog is up to date for 0.5.0"

[2012-04-29 00:28] gak opened #63 "Build debian binaries"
Might need to build libagar libraries alongside it, since debian has no libagar. I'm thinking of setting up a secure-apt repository which contains gravit and agar debs.

[2012-04-29 03:15] #62 closed, assigned to gak

[2012-04-29 07:21] FrMo opened #64 "skybox: check for maximum texture size before loading"
I just had a crash on ubuntu linux with Intel graphics.

Seems that the intel driver does not like large textures; so we must first check the max. texture dimension before proceeding to upload it; see

http://www.opengl.org/archives/resources/faq/technical/texture.htm#text0120

[2012-04-29 07:34] FrMo commented on #58
I remember that I masked out  SDLK_CARET; it's one of the magic keys to open the console. As a composed key, it always junked the first letter in the line. I will try to invent a better solution for this in 0.5.1.

[2012-04-29 07:52] FrMo commented on #64
must be something different; MAX_TEXTURE_SIZE returns 8192.
@gak: any idea ?

[2012-04-29 07:53] gak commented on #64
What is the maximum for your video card? Maybe for 0.5.0 we can just reduce the size of simple.png to that?

2048x2048 is excessive anyway :)

purplenebula is 512x512, which is a reasonably sized OpenGL texture. How does that sound, assuming your video card can do that?

[2012-04-29 07:53] #51 closed, assigned to gak

[2012-04-29 07:58] gak commented on #64
Ah I just realised:

[code]

should be

[code]

[2012-04-29 08:02] gak commented on #64
I'm not sure what else it can be. The segfault is probably OpenGL trying to access memory past the allocated buffer (surface->pixels), so it seems that the BPP/colortype is wrong, or something similar.

[2012-04-29 08:03] FrMo commented on #64
this may be a way to avaoid the crash:

http://web.archiveorange.com/archive/v/TXjIiM3Iju3JAE31q13p

from  http://www.opengl.org/archives/resources/faq/technical/texture.htm#text0120

[code]

[code]

[2012-04-29 08:10] gak commented on #64
We should probably put this functionality into 0.5.1 and try to fix the crashing problem for 0.5.0.

Did my latest commit 5c79ae2 help?

[2012-04-29 08:12] gak opened #65 "The first frame after starting to record has a different particle render type"
Looks like it switches to rendertype 0 for one frame, then continues to the default rendertype (1?)

[2012-04-29 08:25] FrMo commented on #64
yes !! Now it works(tm).

good job :-))

[2012-04-29 08:27] FrMo commented on #64
The size check via "proxy texture" is still a good idea, but i agree it could go into 0,5.1

[2012-04-29 08:29] FrMo commented on #64
re-opened as feature for 0.5.1

[2012-04-29 08:35] FrMo commented on #57
I think it looks good, more colorful than the old one!

[2012-04-29 08:44] FrMo commented on #61
works for me on windows, and also when doing

   ./autogen.sh; ./configure && make install

on linux; so it is probably related to building with Makefile.linux.
I have actually changed the default location to cfg/ to get the windows install working. Maybe we can apply the same to other platforms.

See changes to command.c and gravit.h in commit https://github.com/gak/gravit/commit/6dc9f07caec4c049

[2012-04-29 08:46] FrMo commented on #60
upps  ... will check

[2012-04-29 09:00] FrMo opened #66 "setvideomode: second try with videoantialiasing=0 fails"
gravit fails when trying to open the visual and antialiasing is not supported:

when I edit gravit.cfg and set `videoantialiasing 0` manually, everything is fine again.

(another bug related to my corei5 "build-in" graphics on linux)

[2012-04-29 15:00] FrMo commented on #57
One late idea: could we give it rounded transparent corners (similar to the googe+ icon) ?
(if this is too much hassle, we could still improve the icon for 0.5.1....)

[2012-04-29 22:12] gak commented on #66
I've seen that happen too, with the exact resolution.

[2012-04-29 22:13] gak commented on #57
Leave it for 0.5.1. I want to get Gravit released :)

[2012-04-29 22:14] gak opened #67 "Rounded transparent corners for the logo"
It will also look better in OS X, since most icons aren't exactly square

[2012-04-29 22:15] gak commented on #57
Added #67

[2012-04-30 10:01] FrMo commented on #65
might be connected to the problem I just fixed with c10797a2e7cea6f123372f55209ab1e647061d9f
(loading a skybox texture was leaving GL_TEXTURE_ENV_MODE set to GL_DECAL )

[2012-04-30 11:48] FrMo commented on #60
@gak: please check if my last commit d49538c2334e752b461e59d3ab7efda4c39f154f fixes the problem.
We should keep in mind that this is a quick, ugly solution for 0.5.0.

Whenever we want to distribute more skyboxes, they need to be added manually (to Makefile.am).

[2012-05-01 08:24] gak commented on #52
I've just been running Gravit from the beta2 on a real computer with Windows 7 (64bit). It runs amazingly well and fast :)

[2012-05-01 08:25] gak commented on #60
That hack is perfectly fine for now. I'll verify it works soon.

[2012-05-01 08:27] gak opened #68 "Leverage n-body calculations with OpenCL"

[2012-05-01 08:28] gak opened #69 "Checkbox in welcome dialog to be dismissed permanently"
It is slightly annoying to have to close the dialog every time you load Gravit.

Maybe a checkbox to "Never show again" or "Always show".

[2012-05-01 08:30] gak opened #70 "Build Gravit for Native Client (web browser)"
It would be pretty cool to see this run in a browser.

https://developers.google.com/native-client/overview

[2012-05-01 08:53] FrMo commented on #52
@gak: just uploaded my personal "gravit build kit for MinGW"; it contains pre-compiled libs for 64bit and 32bit. If you like, just add it to the gravit website.

You might remember that getting a working set of libs for gcc 64bit is really painful ... in particular, SDL and freetype (precompiled with Visual studio) usually do not work; so I went through building for gcc from scratch.

[2012-05-01 08:56] FrMo commented on #68
could be fun ... sample n-body kernels are sometimes part of OpenCL SDKs
(but without saying how to interfacing to gravit)

[2012-05-01 09:17] gak commented on #52
OK, I understand how painful it is as I tried to get that it going myself :)

I've put it on the TODO list for the website, #53

[2012-05-01 09:20] gak opened #71 "Show a progress bar in Windows 7 task bar"
This could be an option for recording, playback and also the "stop at frame" functionality of the "frame" command.

Something to look at for other operating systems too.

[2012-05-01 09:21] gak opened #72 "Replace the camera with a quaternion camera"

[2012-05-01 09:23] gak opened #73 "Investigate the viability of distributing load on networked computers"
Last time I looked into this, copying a whole frame to another computer too slow over the Internet for a viable simulation, unless each frame took a massive amount of time to calculate. This might have changed since.

It would be interesting to see 100's of computers contributing to one simulation over the net.

Another potential is using hadoop mapreduce.

[2012-05-01 10:27] FrMo commented on #72
how about making a camera that follows a particle (or cluster of partices)? Like a third-person view in space (including rotation to keep the "target" in in viewport)

[2012-05-01 10:31] gak opened #74 "Select and follow a particle or group of particles"
There are a few ways to do this, but I'm not sure of what is the best way of doing it.

Future enhancements could include:
- Modify particle trails so that they are relative to the particle
- Select a cluster of particles that belong to an initial galaxy (would need integration with lua)

[2012-05-01 10:31] gak commented on #72
I have a few ideas for that already, the ideas are brewing in my head. I've started an issue for it: #74

[2012-05-01 10:37] FrMo opened #75 "include credits and acknowledgments for used libraries"
Some free libraries (like libjpeg) require a program to give an acknoledgement like
"this software is based in part on the work of the Independent JPEG Group."

It think this stuff should be mentioned in the README.

Aditionally, we could make a new textbox dialog that users can open from the welcome box; stating the version of SDL, LUA, libpng etc, and then listing all the "this software is based

[2012-05-04 09:26] gak opened #76 "Auto-complete spawn script name"
For example, in the console, the cursor is at the end:

[code]

Pressing tab would complete to:

[code]

If there are multiple options, it should act the same was as the existing auto-completion functionality, i.e. select the first option and cycle through the options with tab.

[2012-05-04 11:39] gak commented on #74
A suggestion is to use the left mouse button to click on a single particle, or a group of particles by dragging.

Leaving the right mouse button to move the camera angle.

This might confuse existing users, but I don't think it's a big deal if the ChangeLog has the appropriate information in it.

Another possibility is to use modifier keys so that you can do something special like select all other

[2012-05-04 16:29] FrMo commented on #75
For 0.5.0, I can make an addition to the readme.txt displayed by the windows installer.

[2012-05-04 20:04] FrMo commented on #74
I think that particles are normally too fast to select individual ones with the mouse. But it might work that users point (and click) into a certains direction, and gravit could "lock" onto the nearest particle group. We could use the right mouse button for this. -->  we need some kind of "spawn groups", and this schould be easy to implement in LUA (a "start_particle_group" call would be enough).

[2012-05-04 20:13] FrMo commented on #52
@gak: did you try my last changes already? If there are no more code changes needed, I could do the final 0.5.0 windows build this weekend ... and then we should shoot a proper tag through the repo to once and forever mark the 0.5.0 codebase :)

[2012-05-04 20:22] FrMo commented on #59
invalid enumerant ... maybe related to a very old openGL version? what happens if you comment out that particular glCheck() call?

[2012-05-04 21:36] gak commented on #74
The drop-down menu is a good idea. Once we have particle groups, we can also add a new colour mode for it.

My suggestion earlier for selecting one particle would search for the nearest particle to the mouse, so the user doesn't have to be accurate. I would imagine the user would want to pause the simulation before selecting particles, so it is easier to select.

With the mouse buttons, generally

[2012-05-04 21:37] gak opened #77 "Particle groups"
#74

[2012-05-04 22:20] gak commented on #52
Yes, I mentioned a few posts ago that I tried beta2 and it worked great. I left it running over about 3 days and it worked flawlessly too.

Yes, please make a final build of the Windows installer.

[2012-05-04 22:25] gak commented on #60
Seems to work.

[2012-05-04 22:25] #60 closed, assigned to FrMo

[2012-05-04 22:34] gak commented on #75
Sounds reasonable.

[2012-05-05 00:13] gak commented on #75
Please include these changes in the `develop` branch, since I've just made the 0.5.0 release.

[2012-05-05 02:38] gak opened #78 "Split the BuildingFromSource page into 3 sub pages for each operating system or build method"

[2012-05-05 04:36] #37 closed, assigned to gak

[2012-05-05 04:36] #54 closed, assigned to gak

[2012-05-05 04:37] #56 closed, assigned to gak

[2012-05-05 08:54] gak opened #79 "Setting for particle size by different attributes"
By mass, velocity, etc.

For example with velocity, particles that are travelling faster than the others will have a larger particle.

[2012-05-05 08:59] FrMo commented on #77
I can do that after 0.5.0. Should we add the group to the particleDetail struct, or would you prefer some other data structure?

[2012-05-05 10:53] FrMo commented on #52
@gak: OK, finals build are in the usual location. Please add them to the website.

Wow, I'm glad we have the relase ready, after almost a year of adding small improvements here and there :-)

[2012-05-05 10:53] #52 closed, assigned to FrMo

[2012-05-05 23:22] gak commented on #52
Yup, I'm glad it's out too!

[2012-05-06 00:09] gak commented on #77
Need to keep in mind backwards compatibility. Some thoughts:
- Changing the `particleDetail` struct will cause all previous saved simulations to be corrupt. We can fix this by making Gravit
  - automatically "upgrade" saved simulations, or
  - automatically detect which version of Gravit was used to save, then load the simulation differently
- We can create another save file used for saving groups

[2012-05-06 10:47] FrMo commented on #77
versioning and auto-upgrading sounds good; I was also thinking about extending `saveInfo`, because we should include `view.zoom`, `view.rot`, and possibly other data (`state.g`) that is neecessary to restore the view and simulation state.

The .info file is really small, so maybe we should directly go for XML with this file.

XML would probably be a bad choice for the other two files (.particles,

[2012-05-06 10:57] FrMo commented on #45
Just saw that you have updated the wiki --> very clearly described :)
I'm just missing the "hotfix" case, which will be very important right now; hotfixes must branch off from the master (stable) branch, and will be merged back into develop and master.

btw, please add a link to the timeline example from http://nvie.com/posts/a-successful-git-branching-model/

[2012-05-06 11:10] FrMo commented on #55
I just copied your google+ announcement to the gravit mailing list (google goups);
 to take the chance of getting people's attention during the weekend.

[2012-05-06 11:25] FrMo commented on #45
You could also add the following rules:
- for every new feature, create a feature/ branch.
- bugfixes for the stable `master` branch require a or hotfix/ branch.
- features and bugfixes need a related issue that describes the problem or the intention of the change.
- after merging a branch back into develop, remaining bugs and integration problems may be resolved and directly committed into `devel

[2012-05-07 12:30] FrMo opened #80 "Support building a portable app"
http://portableapps.com/development

gravit is almost "portable";
we could add a define PORTABLE_WIN32_APP that would influence the following
- respect the "portable app" Directory and File Layout
- do not read/write the registry

and add App Configuration files (appinfo.ini etc) to dist/

[2012-05-08 02:38] gak commented on #55
Cool. I have updated the Wikipedia page too.

Will do reddit and blog once I get the app in the mac app store. (It was rejected)

[2012-05-08 23:00] gak opened #81 "New spawn script: Black hole devouring"
Idea via https://plus.google.com/103734679940228770146/posts/6199fE3zBmq

The example animation is:
![black hole devouring](https://lh4.googleusercontent.com/-0Z8tKK1DcKc/T6l9Vkn0JvI/AAAAAAAA84w/O_tt75wnv4Q/w497-h373/6990040586_site.gif)

[2012-05-09 10:14] FrMo commented on #81
me want some too :-)))

to get the black hole "working", we need to have the physics bug fixed (#12); the "star" could be modeled with a very compact plummer sphere (i actually have a small spawn script for creating a plummer model somewhere on my computer).

[2012-05-11 14:24] FrMo commented on #53
The old website used to have a link to google groups, and an option to register to the mailing list. This is missing in the new version.

[2012-05-26 11:35] FrMo opened #82 "android port"
gravit is already running on iOS (iPhone/iPad), so the android platform would be an interesting project.

From what I have learned so far
- basicially, everything on android is java
- C is supported with the android NDK (native-code development kit) http://developer.android.com/sdk/ndk/overview.html
- There is a port of SDL for android
  http://wilbefast.com/2011/07/29/sdl-for-android-in-10-drunke

[2012-05-26 22:18] gak commented on #82
Actually, there is no iOS port. You might be mistaken because Gravit is in the "Mac App Store", which is different to the "App Store", or "iOS App Store".

It's a great idea to get it running on Android though! NDK is the way to go imo, since porting will take a while and maintaining two different forks would be a nightmare :)

[2012-05-26 22:34] FrMo commented on #82
Thanks for explaining ... I always thought that there is only one place called "App Store"

[2012-05-28 17:43] FrMo commented on #59
Probably caught the bug ... drawFontLetter() was asked to draw the terminating 0x0 of a string.

Please check if commit bdd9b1c44d7b391bf551cd65b1e8d42fae71f4b1 fixes the problem.

(comment updated: wrong commit ID)

[2012-05-28 21:48] gak commented on #59
Good catch. I'll check it out when I have a spare minute.

[2012-07-03 10:22] FrMo commented on #50
Did some googling for this issue ....
It seems that handling resize events in SDL will cause the OpenGL rendering context to be destroyed (at least on windows) --> We possibly need to do a complete videorestart (including texture re-loading) in reaction to the SDL_VIDEORESIZE event. The new size is in event.resize.w and event.resize.h

Agar has AG_ResizeDisplay(width, height), maybe this is the be

[2012-07-16 12:59] FrMo commented on #77
(back to the main topic)
If we have particle groups, we could even exploit this to stabilize a simulation after spawning:
- spawn stuff
- for all groups, compute the total mass, and the center-off-mass
- run a "dummy" simulation step, to compute accelerations on each body
- now correct all particle velocities to enforce a stable orbit around the groups center-of-mass.
  (formula to compute a stabl

[2012-11-08 18:36] FrMo opened #83 "glowing stars by improving the point sprite effects"
Create a "glowing matter" effect, by tuning the attenuation function and using improved point textures with GL_POINT_SPRITE_ARB. (This will only affect particlerendermode 1).

https://github.com/downloads/FrMo/gravit/gravit00000_before.png
https://github.com/downloads/FrMo/gravit/gravit00000_after.png

https://github.com/downloads/FrMo/gravit/gravit00002_before.png
https://github.com/downloads/FrM

[2012-11-08 22:13] FrMo commented on #83
implemented in f98bbb792741d20cfca1951a0dca02ecd191b180
- implemented for particlerendermode 1, trying to figure out how to make it work with particlerendermode 2.
- keyboard shortcut: g (to increase glow)
- new command "particleglow" (default = 3); "particleglow 0" to switch off, (and revert to "old" 0.5.0 behaviour)
- works with strereomode 2
- still needs a backwards compatibility fix to load o

[2012-11-14 21:16] FrMo commented on #83
branch feature/83-glow-mode merged back into develop
- with particlerendermode 2 workaround
- load/save compatibility issues solved

[2012-11-14 21:16] #83 closed, assigned to FrMo

[2012-12-10 21:41] FrMo commented on #66
Possible reason: the code in gfxSetResolution does not reset the FSAA attributes when called with video.screenAA=0 (else branch missing). A solution could be:

[code]

additionally, we could check other values for SDL_GL_MULTISAMPLESAMPLES: 1,2,4,8 seem to be common values.

[2012-12-22 00:22] #55 closed, assigned to gak

[2012-12-22 00:41] FrMo commented on #33
solution = issue #72 (Replace the camera with a quaternion camera) ??

[2012-12-22 00:44] FrMo commented on #20
soution could be done together with issue #49 (use spawn name as default simulation name)

[2012-12-22 00:49] FrMo commented on #32
there is a similar problem with the fill rate for particles sprites:
with too many _big_ particle sprites drawn onto the sceen, the framerate drops dramaticially;
this can be cured by reducing particleSizeMax.

[2012-12-22 00:55] FrMo commented on #34
btw, JPEG may still be an option, when we disable "chroma color subsampling".
Just tried a few examples, and the results are very close to the original PNG screenshot.

[2012-12-22 12:34] FrMo opened #85 "publish to Mac App Store"
the first attempt to update gravit in the Mac app store was not accepted ... investigate and try again ...

http://itunes.apple.com/us/app/gravit/id411594302?mt=12

[2012-12-22 12:40] FrMo opened #86 "publish as Windows Store app"
- find out what is needed to publish gravit as a windows app
- evaluate feasibility
- decide and act :-)

Some microsoft guides for writing and publishing windows store apps:
- Writing code for Windows Store apps (http://msdn.microsoft.com/en-us/library/windows/apps/hh994935 )
- Windows 8 Product Guide for Developers (http://msdn.microsoft.com/en-us/windows/apps/hh852650 )

[2012-12-28 00:33] FrMo opened #87 "more GUI Widgets"
The first agar GUI objects were introduced with gravit 0.5.0 (issue #41).

In addition to keyboard shortcuts, the console and customiation via  gravit.cfg/screensaver.cfg, all major functions should be availeable via menues or other clickable objects.

[2012-12-29 01:58] FrMo commented on #21
hmmm... the mean value of all positions, and the standard deviation could be helpful to implement this feature...
http://en.wikipedia.org/wiki/Standard_deviation#Rapid_calculation_methods
http://en.wikipedia.org/wiki/Algorithms_for_calculating_variance

Two "standard deviations" from the mean account for 95.45 percent of all particles; three "standard deviations"  account for 99.73 percent.

[2013-01-25 16:27] FrMo opened #88 "videofullscreen 0, videorestart -> agar windows unreadable"
when switching from fullscreen to windowed mode, the videorestart command should also take care to re-initialize AGAR.
- videofullscreen 0
- videorestart
  --> agar windows unreadable (invalid font?); see attached image
  --> depending on the screen size, the simulation control panel may also disappear
  ![gravit00000](https://f.cloud.github.com/assets/743260/97886/0eee3e54-670c-11e2-972c-0e1418de

[2013-02-17 22:52] FrMo commented on #49
new LUA command: logName(script)

[2013-05-05 13:43] FrMo opened #89 "smooth movements"
currently, we directly apply mouse movements => view is directly jumping to the new position (view angle or zoom level).

It looks more natural if we make a "smooth" transition from the current position to the new view.
- temporally switch to 60 FPS (if possible)
- interpolate from the old to the new view
- smooth acceleration / decceleration instead of linear motion

[2013-05-05 13:52] FrMo commented on #89
implemented. commit 48bc6684d1fcf621cbee68a921715176df3cba94

[2013-05-05 13:52] #89 closed, assigned to FrMo

[2013-05-31 22:11] alextricity opened #90 "SCREENSAVER"
Screensaver locks up after a period of time. Happens with the latest version on all computers. The systems have plenty of resources too. Overall, the systems are reliable.

The screensaver works great with pretty much any settings, but when it sits for a little while, the particles disappear and the program becomes unresponsive. Using only one core, and little memory it still happens. I suspect th

[2013-06-02 22:47] FrMo commented on #90
Hello alextricity,
Thank you for this interesting problem report.

There are actually two known "lock-up" problems that have been fixed in the current development branch already;
but I have observed them only on "slow graphics hardware" (i.e. intel coreI5 build-in graphics).

Before we go to the console log (stdout.txt), could you check if one of these workarounds fix your problem:
- edit gravit.c

[2013-06-03 06:11] alextricity commented on #90
Oh, forgot to mention. This is a DUAL display setup with Gravit spanned across both. I am using integrated graphics on a DELL OPTIPLEX 790.

It appears that both of these have fixed my issues. Thank you. I will let you know if it reoccurs. If you would like any more hardware information, please let me know.

Also, an FYI, I plan on rendering a few months of 4K resolution video with (10M?) particle

[2013-08-26 19:46] FrMo opened #91 "new command: timestep"
Adjusting G to control accuracy does not work with fixed physics any more; changing G usually causes the simulation to explode or implode.

We need a new command to do this: timestep (default =1.0).
The timestep needs to be used twice when moving particles:
velocity = old_vel + acceleration \* timestep
position = old_pos + velocity \* timestep

(I actually have a piece of code to do this; will com

[2013-12-22 21:34] NiklasGoetz opened #92 "Problem with Gravit under Win 8.1"
I wanted to use Gravit with my Win 8.1 computer (64-bit). The installation went normal, but as I started it for the first time, the curser disappeared and I couldn't press any buttons. However, the keyboard control (A/Z or on my European keyboard A/Y) was working normally.

[2014-03-10 07:57] gak commented on #89
@FrMo Please accept this 1 beer for your excellent work on Gravit. :) @changetip

[2014-03-10 07:57] changetip commented on #89
Hi @frmo, you've been sent 5.4530 milli-bitcoins ($3.50) from @gak via ChangeTip. **[Collect it](https://www.changetip.com/collect/1947)**.

**[What's this?](https://www.changetip.com/tip-online/github)**

[2014-03-12 10:42] FrMo commented on #89
Thanks :-))) Cheers!

(I'm quite busy on my job these days ... going to come back to gravit in April ...)

[2014-03-15 00:37] gak opened #94 "Undefined reference errors during linking under Arch"
Running `./configure && make` yields this error:

[code]

Debugging with `make SHELL="sh -x"` shows the generated linking command:

[code]

The manual fix for this it to manually rerun the command to use `-llua` instead `-llua5.1`.

[2014-03-17 20:16] FrMo commented on #94
Hi @gak, i guess that the fallback-code in configure.in (in case pkg-config does not know lua) is picking up a liblua that does not match with the header files. Please check if the above patch (7f0af76f6c1875106c97c03004c04fa8adf1a7d3) fixes the probem.

[2014-03-18 03:43] gak commented on #94
Yup that fixed it. Thanks :+1:

[2014-03-18 03:43] #94 closed, assigned to FrMo

[2014-03-18 04:17] gak opened #95 "Wrappable Universe mode"
My suggestion has two parts, the first could be an interesting type of simulation, and both parts joined would be the full idea.
1. To restrict a certain area of the simulation within a cube (or rectangular prism) where when a particle exits the area, it is teleported to the other end of the cube. The teleportation should be a subtraction of the width, rather than teleporting exactly to the edge.

[2014-03-18 04:25] gak commented on #95
From a quick Google search, it appears the idea of that universe a three-dimensional torus shape.

http://en.wikipedia.org/wiki/Doughnut_theory_of_the_universe

[2014-03-18 20:17] FrMo commented on #95
Very interesting idea! I think that step 2 could even be optimized a bit, because the "twin universes" have some symetries:
- the acceleration between on particle and his 6 "twins" is always zero (the left + right twins have the same distances and mass; same argument for upper/lower and front/back twins)
- Image you are a, and you know the distance vector to b. b has 6 twins, and you can get their

[2014-03-18 21:35] gak commented on #95
Great optimisation ideas!

There's an experimental branch with lots of hard coded values. I created a "uniform" spawn script which is just randomly placed particles. I was expecting particles to only be interacting with their local area, but instead they started moving towards the centre. This happened even when I removed any calculations towards the middle universe. This could very well be a bug

[2014-03-18 22:09] FrMo commented on #95
hmmm...
- if the initial particles have no velocity, they should start to accelerate towards the center of gravity, which is still in center of space; adding a small random velocity might change this.
- what you see might also be a side-effect of the weird physics in "classic gravit"... how about trying with the "fixed physics" branch?

[2014-03-28 16:17] FrMo opened #96 "Grid of gravity"
Idea for a new visualization feature:
Display a plane that is shaped by the weigth of objects above it, to visualize the gravitational potential. I image something similar to the green plane in the first picture in this article:
http://www.dailygalaxy.com/my_weblog/2014/03/-quantum-vacuum-powers-the-dark-energy-that-drives-our-universe.html

We could do it the following way:
1. create a projection

[2014-03-28 16:38] FrMo commented on #90
gravit 0.5.1 (to be release real soon now) fixes the problem.

[2014-03-28 16:38] #90 closed, assigned to nobody

[2014-03-28 16:40] FrMo commented on #66
problem is fixed in gravit 0.5.1.

[2014-03-28 16:40] #66 closed, assigned to gak

[2014-03-29 01:31] gak commented on #96
I did this a long time ago for Gravit, calling it a gravity well. It was terribly slow because for each point on the plane grid (e.g. 50x50 points), it was calculating the gravity to every other particle. Speed wise, this was introducing (e.g. 2500) new particles into the simulator!

It did look cool though :)

[2014-04-28 19:09] FrMo commented on #92
Hi Niklas,
thank you for reporting this problem.
I finally got my hands on a new laptop with Win8.1. Gravit is working for me, and I can see a mouse pointer.
However, I noticed two problems:
1) when only using a touch device (touch pad or touch screen), it is nearly impossible to rotate the view.
2) Intel graphics driver: the Win8 driver has a new version number, but still shows the well-known pro

[2014-04-28 19:38] FrMo commented on #87
Meanwhile, it seems that agar is on a trip to "refactoring hell". The API of the svn trunk is totally different, no new releases since 1.4.1, problems with 64-bit windows, no pre-build packages availeable on linux, no signs of support for the new SDL2.

We need to go for something different, for example:
- CEGUI, which seems to support SDL (http://cegui.org.uk/wiki/How_to_use_CEGUI_with_SDL_and_Op

[2014-04-28 21:08] gak commented on #87
I have played with CEGUI, and looked into it for Gravit. I chose not to use it because it was C++ and there was a C alternative. Haven't heard of Guichan before.

Both look fine and I have no issues with adding C++ into the code. Whatever is a more simple API imo.

[2014-04-29 10:01] FrMo commented on #87
In fact, my experiences with C++ are very limited. I can live with some C++ files, but would prefer to keep the .c code free of C++ features; it should be simple to build extern "C" wrappers around the main GUI code.

Maybe it's a good idea to use a C++ GUI lib; agar seems to try being object-oriented with C, and the resulting API is horribly complicated; full of macros, casts, string parameters a

[2014-04-29 20:16] NiklasGoetz commented on #92
I've changed the gravit.cfg as you said, but it doesn't want to work... I cant't find stdout.txt anywhere. But I've found out that the mouse works well, I just can't see the pointer.

However, I tryed the second solution, the interface changed.

[2014-07-16 12:22] thinred opened #97 "gravit --help, --version, etc. do not print anything"
When I run gravit --help I get no output. It seems to me that "view.useStdout" should be set to 1, at least at the beginning when cmdline arguments are parsed.

[2015-03-20 21:30] FrMo commented on #97
Hi @thinred , thanks for pointing this out.
Could you check if commit 4f6133f8a8c2ade2cf92a197271de1f78ef1bd65 fixes the problem?

[2015-03-20 21:34] FrMo commented on #92
Seems that this was a problem with particlerendermode 1 (intel corei graphics?).
In general, gravit works on windows  8 and windows 8.1

[2015-03-20 21:34] #92 closed

[2015-03-21 02:58] thinred commented on #97
I compiled develo branch and it indeed works. Thanks.

[2015-03-21 02:58] #97 closed

[2017-06-23 20:17] Efreak opened #98 "website is dead"
Pretty please add binary releases to github...

[2017-10-21 21:45] slemonide commented on #98
I agree.

[2019-03-31 02:50] ummite opened #99 "Windows compilation do not work"
Hi everyone.

I'm really interested in giving many hours per week to this project.  I would first want to make something compile, but I have issues with all the SDL requirements.  I've download a buch of SDL source code based on the missing .h files,, but I'm always missing something.  Maybe it is me using Visual Studio 2019 which is too recent.  If anyone could generate a branch with all the prer

[2020-01-27 12:51] zowepsilon commented on #98
yes, please

[2020-01-27 12:55] zowepsilon commented on #98
@Efreak pls add the "website"  label

[2020-01-30 01:27] Efreak commented on #98
I'd be happy to do so, but unfortunately I can't. The option is unavailable.